body {font-family: helvetica , sans-serif;}
.main {background-image: url("../images/flatiron.jpg");
background-size: contain;
background-repeat: no-repeat;
text-align: center;
color: white;
}
.main2 {background-image: url("../images/flatiron.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
text-align: center;
color: white;

}
h1 {
  font-size: 70px;
}
h1 , h2 {
  font-weight: bold;
}
.btn-nav {
  font-size: 18px;
  color: white;
  text-decoration: underline;
}
.supporting {
  text-align: center;

}
h2 {font-size: 32px;
  font-weight: bold;
}
h3 {font-weight: bold;
  font-size: 23px;
}
.main h2 {
font-size: 23px;
}
.supporting-item {
  text-align: center;
}
.supporting-item p {
  font-size: 14px;
}
.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
